.hello-world-button {
  font-size: 20px;
  padding: 7px 15px;
  background: green;
  color: white;
  outline: none; }

.hello-world-text {
  color: red;
  font-weight: bold; }

h1 {
  color: #f38C00;
  background-color: rgba(1, 1, 1, 0.02); }

.loading {
  position: absolute;
  top: 16px;
  right: 115px; }

.alert-primary {
  color: green !important; }

