
.check-active{
    background-color:#2049ff!important;
    border-color:#2049ff!important; 
}

.cash-active{
    background-color:red!important;
    border-color:red!important; 
}

.card2bank-active{
    background-color:#0F9A0F!important;
    border-color:#0F9A0F!important; 
}

.commission-active{
    background-color:orange!important;
    border-color:orange!important; 
}

.check-active span span span,
.cash-active span span span,
.card2bank-active span span span,
.commission-active span span span{
    color:white!important
}

.dashboard > .x-panel-header-default-horizontal.x-header-noborder{
    padding:6px 16px 6px 16px;
}

.dashboard-toolbar-select{
    background-color: transparent!important;
    margin-right: 25px;
}

.dashboard-toolbar-select label, .dashboard-toolbar-select label span{
  width:70px!important;   
}

.dashboard-toolbar-select label span{
  color:#f0f0f0;
  font-size:14px;
}