
.preload-body{ 
    background-image: url(../images/lock-screen-background.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0px!important;
}

.x-list-plain{ 
    border:1px solid #808080;
} 

.x-boundlist-item{
    background-color: white;
    height: 25px;
    padding: 5px;
}

.x-treelist-item-expanded:not(ul)>div,
.x-treelist-item-expandable:not(ul)>div{
    background-color: #fafafa!important;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.x-treelist-item-expanded{
    background-color: rgba(1,1,1,0.01)!important;
}

.x-treelist-item-expanded ul{ 
    background-color: rgba(1,1,1,0.02)!important;
}

.x-treelist-item-selected>div,
.x-treelist-toolstrip .x-treelist-item-selected{  
    background-color: rgba(1,1,1,0.06)!important;  
}

.x-treelist-item-over>div,
.x-treelist-container .x-treelist-item-over>div{ 
    background-color: rgba(1,1,1,0.04)!important;
}

.x-treelist-item-selected-parent>div{
    background-color:transparent!important;  
}

.x-treelist-navigation{ 
    background-color: white!important; 
}

.x-treelist-navigation,
.sencha-logo{ 
    box-shadow: 1px 1px 3px rgba(0,0,0,.16), 1px 1px 3px rgba(0,0,0,.23);
    z-index: 2;
    border-right-width: 0px!important;
}

.sencha-logo{
    background-color: white;
    height:100%!important; 
    top:0!important;
}

.sencha-dash-dash-headerbar .x-box-inner,
.sencha-dash-dash-headerbar .x-box-inner .x-box-target{
    height: 100%;
}

.sencha-logo .x-toolbar {
    padding: 3px;
}

.x-treelist-item-text,
.x-treelist-navigation .x-treelist-item-icon, .x-treelist-navigation .x-treelist-item-tool,
.x-treelist-item-expander:after
{
    margin-right: 0px;
    color:#14306B!important;
    font-weight: 510;
} 

.x-treelist-item-wrap{
    margin-left: 30px!important;
}

/*.x-treelist-navigation .x-treelist-item-text{
    margin-right: 0px!important;
}

.x-treelist-row{
    padding-left: 0px!important;
} */

.x-treelist-item-text, 
.x-treelist-navigation .x-treelist-item-icon, 
.x-treelist-navigation .x-treelist-item-tool, 
.x-treelist-item-expander:after{
    color:#14306B!important;
} 

/*  Tree collapsed */
.x-treelist-toolstrip{
    background-color: rgba(1,1,1,0.02)!important;
}

.x-treelist-item-floated ul li {
    padding-left: 15px;
}

.x-treelist-floater,
.x-treelist-item-floated>div{
    background-color: white!important;
    /*left:164px!important;*/
}

.user-login-register-container .x-window-header-default-top{
    background-color: #2e3d54!important;
    border-color: #2e3d54!important;
}

.x-form-trigger-wrap-default{
    border-color: grey!important;
}

.auth-dialog .password-trigger:before, .auth-dialog .auth-email-trigger:before, .auth-dialog .auth-password-trigger:before, .auth-dialog .auth-envelope-trigger:before{
    color: grey!important;
}

.x-panel-header-default{
    background-color: #2e3d54;
}

.x-panel-header-default{
    border: 1px solid #2e3d54;
}


.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row{
    background-color: #2E3F5B;
}

.x-tab-default-top{
    background-color: #404040!important;
}


.x-tab.x-tab-active.x-tab-default{
    background-color: #14306B!important; 
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
    color: #f0f0f0!important;
}


.x-btn-green-small{
    background-image: linear-gradient(#008000, #32b232)!important;
} 

.x-btn-soft-green-small{ 

}

.x-btn-green-small,
.x-btn-soft-green-small{  
    border-radius:5px!important;
    border: none!important;
    border-width: 0px!important;
    font-size: 13px!important;
}



.x-btn-button-green-small .x-btn-inner-green-small,
.x-btn-button-soft-green-small .x-btn-inner-soft-green-small{
    color:white!important;
    font-size: 13px!important;
}

.x-btn-button-green-small .x-btn-icon-el-green-small,
.x-btn-button-soft-green-small .x-btn-icon-el-soft-green-small{
    color:white!important; 
}

/*.x-btn-soft-green-small{
    border-color: #5772AC!important;
    background-color: #5772AC!important;  
}*/


.x-form-item-label-default{
    text-align: right!important;
} 

.add-border-bottom{
    margin: 15px;
}

.add-border-bottom>.x-panel-header{
    border-bottom: 1px solid rgba(1,1,1,0.2)!important;
    padding:5px;

}

.base-container{
    border-width: 0px!important
}

.x-tab.x-tab-active.x-tab-default,
.x-tab-default-top{
    border-radius: 6px 6px 0px 0px!important;
}

.no-border{
    border-width: 0px!important;
} 

.x-btn-default-toolbar-small{
    border-radius: 5px!important;
}

.sencha-dash-dash-headerbar{
    border-bottom: 1px solid #ddd!important;
}

.x-tab-icon-el{
    color: #CCCCCC!important;
}

.base-editor .x-panel-bodyWrap .x-panel-body-default,
.base-details .x-panel-bodyWrap .x-panel-body-default,
.base-editor .x-panel-bodyWrap .x-toolbar,
.base-details .x-panel-bodyWrap .x-toolbar{
    border-color: #d0d0d0!important;
}

.x-tab.x-tab-active.x-tab-default .x-tab-icon-el{
    color: #f0f0f0!important
}
